<div class="circle-1">
  <div class="segment red " data-value="40" data-name="DOUBLE 20" style="transform: rotate(0deg);"></div>
  <div class="segment blue" data-value="2"  data-name="DOUBLE 1 " style="transform: rotate(18deg);"></div>
  <div class="segment red " data-value="36" data-name="DOUBLE 18" style="transform: rotate(36deg);"></div>
  <div class="segment blue" data-value="8"  data-name="DOUBLE 4 " style="transform: rotate(54deg);"></div>
  <div class="segment red " data-value="26" data-name="DOUBLE 13" style="transform: rotate(72deg);"></div>
  <div class="segment blue" data-value="12" data-name="DOUBLE 6 " style="transform: rotate(90deg);"></div>
  <div class="segment red " data-value="20" data-name="DOUBLE 10" style="transform: rotate(108deg);"></div>
  <div class="segment blue" data-value="30" data-name="DOUBLE 15" style="transform: rotate(126deg);"></div>
  <div class="segment red " data-value="4"  data-name="DOUBLE 2 " style="transform: rotate(144deg);"></div>
  <div class="segment blue" data-value="34" data-name="DOUBLE 17" style="transform: rotate(162deg);"></div>
  <div class="segment red " data-value="6"  data-name="DOUBLE 3 " style="transform: rotate(180deg);"></div>
  <div class="segment blue" data-value="38" data-name="DOUBLE 19" style="transform: rotate(198deg);"></div>
  <div class="segment red " data-value="14" data-name="DOUBLE 7 " style="transform: rotate(216deg);"></div>
  <div class="segment blue" data-value="32" data-name="DOUBLE 16" style="transform: rotate(234deg);"></div>
  <div class="segment red " data-value="16" data-name="DOUBLE 8 " style="transform: rotate(252deg);"></div>
  <div class="segment blue" data-value="22" data-name="DOUBLE 11" style="transform: rotate(270deg);"></div>
  <div class="segment red " data-value="28" data-name="DOUBLE 14" style="transform: rotate(288deg);"></div> 
  <div class="segment blue" data-value="18" data-name="DOUBLE 9 " style="transform: rotate(306deg);"></div> 
  <div class="segment red " data-value="24" data-name="DOUBLE 12" style="transform: rotate(324deg);"></div> 
  <div class="segment blue" data-value="10" data-name="DOUBLE 5 " style="transform: rotate(342deg);"></div>
  <%= render "outer-single" %>
</div> 