<div class="toast-container position-fixed top-0 end-0 p-2">
  <div id="liveToast" class="toast align-items-center text-bg-primary border-0 w-auto" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body pe-0">
        保存しました
      </div>
      <button type="button" class="btn-close btn-close-white ms-2 me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>