<div class="circle-4">
  <div class="segment black" data-value="20" data-name="SINGLE 20" style="transform: rotate(0deg);">
    <div class="segment-inner">
      <div class="hole hole-Isingle"></div>
    </div>
  </div>
  <%= render "bull" %>
</div>
