<div class="circle-2">
  <div class="segment black" data-value="20" data-name="SINGLE 20" style="transform: rotate(0deg);"></div>
  <div class="segment white" data-value="1"  data-name="SINGLE 1"  style="transform: rotate(18deg);"></div>
  <div class="segment black" data-value="18" data-name="SINGLE 18" style="transform: rotate(36deg);"></div>
  <div class="segment white" data-value="4"  data-name="SINGLE 4"  style="transform: rotate(54deg);"></div>
  <div class="segment black" data-value="13" data-name="SINGLE 13" style="transform: rotate(72deg);"></div>
  <div class="segment white" data-value="6"  data-name="SINGLE 6"  style="transform: rotate(90deg);"></div>
  <div class="segment black" data-value="10" data-name="SINGLE 10" style="transform: rotate(108deg);"></div>
  <div class="segment white" data-value="15" data-name="SINGLE 15" style="transform: rotate(126deg);"></div>
  <div class="segment black" data-value="2"  data-name="SINGLE 2"  style="transform: rotate(144deg);"></div>
  <div class="segment white" data-value="17" data-name="SINGLE 17" style="transform: rotate(162deg);"></div>
  <div class="segment black" data-value="3"  data-name="SINGLE 3"  style="transform: rotate(180deg);"></div>
  <div class="segment white" data-value="19" data-name="SINGLE 19" style="transform: rotate(198deg);"></div>
  <div class="segment black" data-value="7"  data-name="SINGLE 7"  style="transform: rotate(216deg);"></div>
  <div class="segment white" data-value="16" data-name="SINGLE 16" style="transform: rotate(234deg);"></div>
  <div class="segment black" data-value="8"  data-name="SINGLE 8"  style="transform: rotate(252deg);"></div>
  <div class="segment white" data-value="11" data-name="SINGLE 11" style="transform: rotate(270deg);"></div>
  <div class="segment black" data-value="14" data-name="SINGLE 14" style="transform: rotate(288deg);"></div> 
  <div class="segment white" data-value="9"  data-name="SINGLE 9"  style="transform: rotate(306deg);"></div> 
  <div class="segment black" data-value="12" data-name="SINGLE 12" style="transform: rotate(324deg);"></div> 
  <div class="segment white" data-value="5"  data-name="SINGLE 5"  style="transform: rotate(342deg);"></div>
  <%= render "triple" %>
</div>