
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(0deg);"><div style="transform: rotate(0deg);">20</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(18deg);"><div style="transform: rotate(-18deg);">1</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(34deg);"><div style="transform: rotate(-34deg);">18</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(54deg);"><div style="transform: rotate(-54deg);">4</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(72deg);"><div style="transform: rotate(-72deg);">13</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(90deg);"><div style="transform: rotate(-90deg);">6</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(108deg);"><div style="transform: rotate(-108deg);">10</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(126deg);"><div style="transform: rotate(-126deg);">15</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(144deg);"><div style="transform: rotate(-144deg);">2</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(162deg);"><div style="transform: rotate(-162deg);">17</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(180deg);"><div style="transform: rotate(-180deg);">3</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(198deg);"><div style="transform: rotate(-198deg);">19</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(216deg);"><div style="transform: rotate(-216deg);">7</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(234deg);"><div style="transform: rotate(-234deg);">16</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(252deg);"><div style="transform: rotate(-252deg);">8</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(270deg);"><div style="transform: rotate(-270deg);">11</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(288deg);"><div style="transform: rotate(-288deg);">14</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(306deg);"><div style="transform: rotate(-306deg);">9</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(324deg);"><div style="transform: rotate(-324deg);">12</div></div>
  <div class="number" data-value="0" data-name="OUT" style="transform: rotate(342deg);"><div style="transform: rotate(-342deg);">5</div></div>
  <%= render "double" %>
