<div class="circle-3">
  <div class="segment red " data-value="60" data-name="TRIPLE 20" style="transform: rotate(0deg);"></div>
  <div class="segment blue" data-value="3"  data-name="TRIPLE 1"  style="transform: rotate(18deg);"></div>
  <div class="segment red " data-value="54" data-name="TRIPLE 18" style="transform: rotate(36deg);"></div>
  <div class="segment blue" data-value="12" data-name="TRIPLE 4"  style="transform: rotate(54deg);"></div>
  <div class="segment red " data-value="39" data-name="TRIPLE 13" style="transform: rotate(72deg);"></div>
  <div class="segment blue" data-value="18" data-name="TRIPLE 6"  style="transform: rotate(90deg);"></div>
  <div class="segment red " data-value="30" data-name="TRIPLE 10" style="transform: rotate(108deg);"></div>
  <div class="segment blue" data-value="45" data-name="TRIPLE 15" style="transform: rotate(126deg);"></div>
  <div class="segment red " data-value="6"  data-name="TRIPLE 2"  style="transform: rotate(144deg);"></div>
  <div class="segment blue" data-value="51" data-name="TRIPLE 17" style="transform: rotate(162deg);"></div>
  <div class="segment red " data-value="9"  data-name="TRIPLE 3"  style="transform: rotate(180deg);"></div>
  <div class="segment blue" data-value="57" data-name="TRIPLE 19" style="transform: rotate(198deg);"></div>
  <div class="segment red " data-value="21" data-name="TRIPLE 7"  style="transform: rotate(216deg);"></div>
  <div class="segment blue" data-value="48" data-name="TRIPLE 16" style="transform: rotate(234deg);"></div>
  <div class="segment red " data-value="24" data-name="TRIPLE 8"  style="transform: rotate(252deg);"></div>
  <div class="segment blue" data-value="33" data-name="TRIPLE 11" style="transform: rotate(270deg);"></div>
  <div class="segment red " data-value="42" data-name="TRIPLE 14" style="transform: rotate(288deg);"></div> 
  <div class="segment blue" data-value="27" data-name="TRIPLE 9"  style="transform: rotate(306deg);"></div> 
  <div class="segment red " data-value="36" data-name="TRIPLE 12" style="transform: rotate(324deg);"></div> 
  <div class="segment blue" data-value="15" data-name="TRIPLE 5"  style="transform: rotate(342deg);"></div>
  <%= render "inner-single" %>
</div>