<div data-controller="hole">
  <%= render "flash-message" %>
  <div class="board">
    <%= render "out" %>
  </div>
  <div class="d-flex">
    <button data-action="click->hole#submit">確定</button>
    <ul>
      <li>1投目：<span data-hole-target="output"></span></li>
      <li>2投目：<span data-hole-target="output"></span></li>
      <li>3投目：<span data-hole-target="output"></span></li>
    </ul>
  </div>
</div>